.DrumPadButton {
  height: 75px;
  width: 75px;
  cursor: pointer;
  font-family: inherit;
  background-color: #836e8b;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.DrumPadButton:active {
  background-color: #09104d;
  transform: translateY(4px);
}

.ManualActive {
  background-color: #09104d;
  transform: translateY(4px);
}
